<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<script>
    // Clear input on refresh
    window.onload = function() {
        document.getElementById("reviewTextarea").value = "";
    };
</script>

<head>
    <meta charset="UTF-8">
    <title>Topic Modeling Test</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1 class="title_container">Review Analyzer: Unveiling Sentiments and Topics</h1>

<p class="description_container">Details For Use: <br><br>The application analyzes the sentiment of each review, providing insights into its positive or negative nature. Users can gain valuable insights about the reviewed media product by understanding the overall sentiment associated with the reviews. Additionally, the application incorporates topic modeling, enabling users to explore two distinct topics within the reviews and delve deeper into the themes and discussions. It is important to ensure that there are at least 10 reviews for sufficient topic analysis.
</p>


<form method="post" action="/reviews">
    <div class="input-row">
        <textarea id="reviewTextarea" name="reviews" placeholder="Review 1
---
Review 2
---
Review n">
        </textarea>
    </div>

    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>
</form>

<div class="classify_container">
    {% if Topic0 %}
    <h2>Review Sentiments</h2>
    <ul>
        {% for review, sentiment in review_sentiments %}
        <li class="review-item">
            <div class="review_container">
                <strong>Review:</strong> {{ review }}
            </div>
            <div class="sentiment_container">
                Sentiment: {{ sentiment }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="Topics_container">
    <div class="Topic0_container">
        {% if Topic0 %}
        <h2>Topic 1</h2>
        <ul>
            {% for word, relevance in Topic0 %}
            <li>{{ word }} - {{ relevance }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="Topic1_container">
        {% if Topic1 %}
        <h2>Topic 2</h2>
        <ul>
            {% for word, relevance in Topic1 %}
            <li>{{ word }} - {{ relevance }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>



</body>
</html>

