<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<script>
    // Clear input on refresh
    window.onload = function() {
        document.getElementById("reviewTextarea").value = "";
    };
</script>

<head>
    <meta charset="UTF-8">
    <title>Review Analyzer</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <a class="active" href="http://127.0.0.1:8000/">Review Analyzer</a>
    <a href="http://127.0.0.1:8000/topicmodel">Topic Model</a>
</div>
<h1 class="title_container">Review Analyzer: Unveiling Sentiments</h1>

<h2>Details For Use:</h2>
<p class="description_container">The application analyzes the sentiment of each review, providing insights into its positive or negative nature. Users can gain valuable insights about the reviewed media product by understanding the overall sentiment associated with the reviews. 
</p>


<form method="post" action="/reviews">
    <div class="input-row">
        <textarea id="reviewTextarea" name="reviews" placeholder="Review 1
---
Review 2
---
Review n">
        </textarea>
    </div>

    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>
</form>

<div class="classify_container">
    {% if review_sentiments %}
    <h2>Review Sentiments</h2>
    <ul>
        {% for review, sentiment in review_sentiments %}
        <li class="review-item">
            <div class="review_container">
                <strong>Review:</strong> {{ review }}
            </div>
            <div class="sentiment_container">
                Sentiment: {{ sentiment }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
</html>

